body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* height: 100vh; */
}

.wel{
    display: flex;
}

.bots{
    /* display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr; */
    display: flex;
}

.b1{
    grid-column: 1;
    grid-row: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.b2{
    grid-column: 1;
    grid-row: 2;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.b3{
    grid-column: 2;
    grid-row: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.b4{
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.b5{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.botimg{
    margin-bottom: 5px;
    border-radius: 50%;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea{
    margin: 5px; 
    box-shadow: none; 
    border-color: black;
    border-width: 1px;
}
